@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #464554;
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  
  --color-primary: #4648d4;
  --color-on-primary: #ffffff;
  --color-primary-container: #6063ee;
  --color-primary-fixed: #e1e0ff;
  --color-primary-fixed-dim: #c0c1ff;
  
  --color-secondary: #5e5c6e;
  --color-secondary-container: #e4e0f5;
  --color-secondary-fixed: #e4e0f5;
  
  --color-tertiary: #006c49;
  --color-tertiary-container: #00885d;
  --color-tertiary-fixed: #6ffbbe;
  --color-tertiary-fixed-dim: #4edea3;
  
  --color-outline: #767586;
  --color-outline-variant: #c7c4d7;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9ff;
  color: #0b1c30;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .font-display, .font-headline {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
